[gerrit-jira-hook]
    jira_url = https://jira.example.com
    jira_user = username/email
    jira_pass = access_token/password
    jira_use_field = true
    jira_field = jira_field_name
    jira_update_components = true
    gerrit_projects = All-Projects
    gerrit_user = gerrit
    gerrit_host = localhost

[gerrit-project-to-jira-component-mappings]
    gerrit_project1 = jira_component1
    gerrit_project2 = jira_component2